.sectionHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px black;
  background-color: var(--main-background-color);
  z-index: 10;
  transition: background-color 250ms linear;
}

.searchInputWrap {
  @media screen and(max-width: 600px) {
    width: 100%;
  }
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 30px;
  background-color: var(--main-background-color);
  border-radius: 5px;
  color: var(--main-text-color);
  transition: background-color 250ms linear;
  &:focus {
    border-color: var(--color-accent);
    outline: none;
  }

  .searchInput {
    @media screen and(max-width: 600px) {
      width: 100%;
    }
    display: block;
    flex-grow: 1;
    align-self: stretch;
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: var(--input-color);
    border: none;
    box-shadow: 0px 0px 2px 1px var(--main-text-color);
    border-radius: 5px;
    transition: box-shadow 250ms linear;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 2px 1px var(--color-accent);
    }
  }

  .searchButton {
    @media screen and(max-width: 600px) {
      display: none;
    }
    margin: 0;
  }
}
