.paginationContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -65px;
  width: 100%;
  padding: 20px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  box-shadow: 0px 0px 12px 5px var(--main-background-color);
  opacity: 0.8;
  transform: translateY(0);
  transition: transform 250ms linear, opacity 250ms linear;
  z-index: 3;

  & > * {
    margin-right: 20px;
  }

  &:hover {
    opacity: 1;
    transform: translateY(-65px);
  }

  @media screen and (max-width: 900px) {
    justify-content: space-between;
  }

  select {
    height: 30px;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
  }
}

.totalImagesCount {
  & span {
    color: var(--color-accent);
  }
}

.footerOpenArrow {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  box-shadow: 0px 0px 12px 5px var(--main-background-color);
  border-radius: 20px 20px 0 0;
  transform: translateX(-50%);
  transition: background-color 250ms linear, box-shadow 250ms linear;
  cursor: pointer;
}

.selectWrapper {
  display: flex;
}

.imagesPerPageSelect {
  border-radius: 5px;
}

.pagesList {
  display: flex;
  list-style: none;

  @media screen and (max-width: 900px) {
    font-size: 25px;
  }

  & li {
    padding: 3px 8px;
    margin-right: 5px;
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    @media screen and (max-width: 900px) {
      padding: 0 8px;
    }
  }

  .currentPageNumber {
    border: 1px solid var(--color-accent);
  }
}
