@keyframes form-animation {
  0% {
    opacity: 0;
    transform: scale(0.8) perspective(250px) rotateX(-40deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0deg);
    filter: blur(0px);
    backdrop-filter: blur(2px);
  }
}

@mixin form-animation-settings {
  animation-name: form-animation;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
