@import "./popNotice.scss";

// Critical CSS is in the index.html

.navLink {
  color: var(--color-accent);
  text-decoration: none;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 50px;
  transform: translateX(-50%);
}

.imageCardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color-alpha);

  &-title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  &-buttonWrapper {
    display: flex;
    justify-content: space-between;
  }
}

.closeBtn {
  border: none;
  border-radius: 50%;
  background-color: var(--color-accent);
  padding: 1px;
  cursor: pointer;
}

.isHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
