.sectionGallery {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 45px);
  transition: background-color 250ms linear, padding-top 250ms linear;

  &.groupSelectMode {
    padding-top: 50px;
  }
}

.galleryPage {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: var(--main-background-color);
  transition: background-color 250ms linear;
}

.groupImageMenuWrapper {
  position: fixed;
  top: 65px;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  background-color: var(--main-background-color-alpha);
  opacity: 0;
  transition: height 250ms linear, opacity 200ms linear;
  overflow: hidden;
  z-index: 3;

  &.groupSelectMode {
    height: 52px;
    padding-top: 3px;
    padding-bottom: 5px;
    opacity: 1;
  }
}

.paginationWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--main-background-color);
  box-shadow: 0px 0px 12px 5px var(--main-background-color);
  opacity: 0.8;
  // transform: translateY(40px);
  transition: transform 250ms linear, opacity 250ms linear;

  &:hover {
    opacity: 1;
    transform: translateY(0);
  }
}
