$main-background-color: rgb(22, 22, 22);
$main-text-color: rgb(240, 239, 239);
$color-accent: rgb(240, 117, 35);
$color-border-main: rgba(77, 81, 85, 0.46);
$input-color: rgba(219, 217, 217, 0.384);
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 800px;
$breakpoint-mobile: 600px;

