.modalImage {
  top: 0;
  display: flex;
  width: 100%;

  @media screen and(max-width: 900px) {
    position: absolute;
    display: block;
    height: 100vh;
    overflow: auto;

    :global(.imageCardOverlay) {
      position: fixed;
    }
  }

  .imagePart {
    position: relative;
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;

    img {
      width: 100%;
      height: auto;
    }
    @media screen and(max-width: 900px) {
      width: auto;
      height: auto;
      overflow-y: auto;

      img {
        width: 100%;
        height: auto;
        min-height: 200px;
      }
    }
  }

  .nonImagePart {
    position: relative;
    width: 25%;
    height: 100vh;
    overflow-y: auto;

    .modalImageHeader {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      padding-top: 10px;
      background-color: var(--main-background-color-alpha);

      .imageTitleWrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 2px 6px;

        &::before {
          content: "";
          display: block;
          width: 42px;
        }

        .modalImageLikeBtn {
          position: absolute;
          background-color: var(--color-accent);
        }

        h2 {
          text-align: center;
        }
      }

      .modalImageMenu {
        width: 100%;
        justify-content: space-around;
        padding: 0 40px;
        border-radius: 6px;
        background-color: var(--main-background-color-alpha);
      }
    }

    .tagListWrapper {
      margin-bottom: 15px;
    }

    .description {
      padding: 0 11px;
      p {
        &::first-letter {
          font-size: 19px;
        }
        text-indent: 10px;
      }
    }

    @media screen and(max-width: 900px) {
      position: static;
      width: auto;
      height: auto;
      overflow-y: unset;
    }
  }
}
