.modalImage {
  top: 0;
  display: flex;
  width: 100%;

  :global(.overlay) {
    z-index: 2;
  }

  :global(.closeBtn) {
    transition: opacity 250ms linear;
    &.mobile {
      display: none;
    }
    &.desktop {
      display: block;
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 2;
    }
    &.expanded {
      opacity: 0;
      cursor: none;
    }
    &.visible {
      opacity: 1;
      cursor: pointer;
    }
  }

  @media screen and(max-width: 900px) {
    position: absolute;
    display: block;
    height: 100vh;
    overflow: auto;

    :global(.overlay) {
      position: fixed;
    }

    :global(.closeBtn) {
      &.mobile {
        display: block;
      }
      &.desktop {
        display: none;
      }
    }
  }
}

.modalImageBackdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: sepia(32%) brightness(80%) contrast(244%) opacity(40%);
  box-shadow: inset 0px -10px 10px -2px var(--main-background-color-alpha),
    inset 0px 10px 10px -2px var(--main-background-color-alpha);
  z-index: -1;

  @media screen and(max-width:630px) {
    display: none;
  }
}

.imagePart {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100vh;
  overflow-x: hidden;
  transition: width 250ms linear;
  z-index: 1;
  outline: none;

  @media screen and(max-width: 900px) {
    position: static;
    width: auto;
    height: auto;
    overflow-y: auto;

    img {
      width: 100%;
      height: auto;
      min-height: 200px;
    }
  }

  &.expanded {
    width: 100%;
  }

  .imageWrapper {
    display: flex;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;

    &.expanded {
      cursor: none;
    }
    &.visible {
      cursor: default;
    }

    @media screen and(max-width: 900px) {
      position: static;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .navButtonPrev,
  .navButtonNext {
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: opacity 250ms linear;
    z-index: 1;
    cursor: pointer;

    @media screen and(max-width: 900px) {
      display: none;
    }
  }

  .navButtonPrev {
    left: 10px;
  }

  .navButtonNext {
    right: 20px;
  }

  .imageControls {
    position: absolute;
    top: 12px;
    right: 50%;
    display: flex;
    opacity: 0;
    transition: opacity 250ms linear;
    transform: translateX(50%);
    z-index: 1;

    @media screen and(max-width: 900px) {
      display: none;
    }
  }

  & button {
    background-color: var(--color-accent);
  }

  & .visible {
    opacity: 1;
  }
}

.nonImagePart {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  font-size: 20px;
  background-color: var(--main-background-color-alpha);
  overflow-y: auto;

  @media screen and(max-width: 900px) {
    position: static;
  }

  .modalImageHeader {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: var(--main-background-color-alpha);

    .imageTitleWrapper {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-items: center;
      margin-bottom: 10px;
      padding: 2px 6px;

      &::before {
        content: "";
        display: block;
        width: 42px;
      }

      &::after {
        content: "";
        display: block;
        width: 32px;
        @media screen and(max-width: 900px) {
          display: none;
        }
      }

      .modalImageLikeBtn {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-accent);
      }

      h2 {
        text-align: center;
      }
    }
  }

  & :global(.imageMenu) {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--main-background-color-alpha);
    & *:not(:last-child) {
      margin-right: 20px;
    }
  }

  .modalControlsWrapper {
    display: none;
    @media screen and(max-width: 900px) {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0 6px;
    }
  }

  .navButton {
    color: var(--main-text-color);
    background-color: var(--color-accent);
  }

  .tagListWrapper {
    margin-bottom: 15px;
  }

  .description {
    padding: 0 11px;
    p {
      &::first-letter {
        font-size: 19px;
      }
      text-indent: 10px;
    }
  }

  @media screen and(max-width: 900px) {
    position: static;
    width: auto;
    height: auto;
    overflow-y: unset;
  }
}
