.modalImage {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;

  @media screen and(max-width: 800px) {
    display: block;
  }

  .imagePart {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    img {
      width: 100%;
      height: auto;
    }
    @media screen and(max-width: 800px) {
      width: auto;
      height: auto;
    }
  }

  .nonImagePart {
    flex-grow: 1;
  }
}
