.imageDetails {
  margin-top: 20px;
  display: flex;
}

.largeImageWrapper {
  width: 70%;
}

.largeImage {
  max-width: 100%;
}

.largeImageInfo {
  padding: 10px;
  list-style: none;
  font-size: 30px;
}
