.shareOverlay {
  display: block;
  padding: 3px;
}

.option {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > label {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.shareOverlayTitle {
  text-align: center;
  margin-bottom: 15px;
}

.shareOverlayCheckbox {
  width: 22px;
  height: 22px;
  margin-left: 20px;
  padding: 0 3px 0 0;
}

.openedTo {
  margin-right: 10px;
}

.addUserBtn {
  margin-left: 10px;
  padding: 2px;
  font-size: 12px;

  & span {
    height: auto;
    width: auto;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}
