.deleteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--main-background-color-alpha);
}

.deleteOverlayTitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.buttonWrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
