.modalBackdrop {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color-alpha);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear, background-color 250ms linear;
  z-index: 10;
}

.isOpened {
  opacity: 1;
  pointer-events: all;
}
