.galleryMenu {
  scrollbar-width: none;
  display: none;
  pointer-events: none;
  @media screen and (min-width: 600px) {
    display: block;
    position: fixed;
    top: 55px;
    width: 180px;
    height: 94vh;
    overflow-y: auto;
    margin-right: 10px;
    padding: 25px 15px;
    background-image: linear-gradient(
      to right,
      var(--main-background-color) 23%,
      transparent 94%
    );
    opacity: 0;
    transition: opacity 250ms linear, left 250ms linear 250ms;
    z-index: 10;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &.isOpen {
    pointer-events: all;
    opacity: 1;
  }
}

.navLinksList {
  list-style: none;

  & li {
    margin-bottom: 20px;
  }
}

.navLink {
  font-size: 25px;
  text-decoration: none;
  color: var(--color-accent);
}
