.shareOverlay {
  display: block;
  padding: 3px;
}

.option {
  display: flex;
  align-items: center;

  & > label {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.shareOverlayTitle {
  margin-bottom: 10px;
}

.shareOverlayCheckbox {
  width: 22px;
  height: 22px;
  margin-left: 20px;
  padding: 0 3px 0 0;
}
