.cardWrap {
  position: relative;
  align-self: center;
  width: 16%;
  height: 210px;
  max-width: 100%;
  margin: 5px;
  overflow: hidden;
  border: 1px solid var(--color-border-main);
  box-shadow: 3px 3px 5px 0px black;
  transition: background-color 250ms linear;

  &:hover .text {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover .menu {
    opacity: 1;
    transform: translateY(0);
  }

  @media screen and(max-width: 800px) {
    width: 100%;
  }
}

.imgWrap {
  height: 100%;
  background-size: cover;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 250ms linear, opacity 250ms linear;

  & button {
    background-color: var(--color-accent);
    opacity: 0.8;
    cursor: pointer;
  }
}

.text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3px;
  color: rgb(190, 190, 190);
  font-size: 14px;
  background-color: rgba(22, 22, 22, 0.6);
  opacity: 0;
  transform: translateY(20px);
  transition: transform 250ms linear, opacity 250ms linear;
}

.imgInfo {
  list-style: none;
}

.tagList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 37px;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 6px;
  background-color: rgba(22, 22, 22, 0.6);
  cursor: help;
}

.imgTag {
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 5px;
  border-radius: 5px;
  color: var(--main-background-color);
  background-color: var(--color-accent);

  &:not(:last-child) {
    margin-right: 5px;
  }

  & span:not(:last-child) {
    margin-right: 10px;
  }
}

.addInfo {
  display: flex;
  justify-content: space-around;
}
