.section-header {
  position: fixed;
  top: 0;
  left: 0;  
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px black;
  background-color: $main-background-color;
  z-index: 20;
}

.search-input {
  @media screen and(max-width: $breakpoint-mobile) {
    width: 100%;
  }
  @include border-shadow;
  width: 50%;
  margin-right: 30px;
  padding: 5px;
  background-color: $input-color;
  font-size: 24px;
  color: $main-text-color;
  transition: border-color 250ms linear;
  &:focus {
    border-color: $color-accent;
    outline: none;
  }
}

.sort-menu {
  width: 30%;
}

.sort-options {
  margin-left: 30px;
  font-size: 16px;
  color: $main-text-color;
  background-color: $input-color;

  & option {
    
  color: black;
  background-color: $input-color;
  }
}
