.image-details {
    display: flex;
}

.large-image-wrapper {
    width: 70%;
}

.large-image {
    max-width: 100%;
}

.large-image-info {
    padding: 10px;
    list-style: none;
    font-size: 30px;
}