* {
  scrollbar-width: thin; // for Firefox
  scrollbar-color: var(--main-text-color) var(--main-background-color); //for Firefox
}
*::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: $main-background-color;
}

::-webkit-scrollbar-thumb {
  background-color: $color-border-main;
  border-radius: 2px;
}
