.modalAuth {
  position: relative;
  padding: 15px;
  background-color: var(--main-background-color);
  width: 100%;
  max-width: 450px;
  border-radius: 5px;

  & h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.labelAuthorisation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
  margin-bottom: 20px;
  font-size: 18px;
  color: var(--color-accent);
}

.labelAuthorisationInput {
  @media screen and (max-width: 400px) {
    margin-top: 10px;
  }
  height: 30px;
  width: 100%;
  max-width: 280px;
  padding: 5px;
  background-color: var(--input-color);
  color: var(--main-text-color);
  border: 1px solid var(--color-border-main);
  box-shadow: 3px 3px 5px 0px black;
  transition: border-color 250ms linear;
  &:focus {
    border-color: var(--color-accent);
    outline: none;
  }
}
.error {
  border: 2px solid var(--color-error);
  &:focus {
    border-color: var(--color-error);
    outline: none;
  }
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
